.body--darkMode {
    background-color: black;
    color: white;
}

.wrapper--darkMode {
    background-color: #3a3a3a;
}

.header--darkMode, .footer--darkMode {
    background-color: #202020;
}

.section__heading--darkMode {
    border-bottom: 2px solid rgb(255 166 102);
}

.navigation--darkMode {
    background-color: rgb(255 204 168);
}

.navigation--darkMode:hover {
    background-color: rgb(255 166 102);
}

.div__linkToSectionFour--darkMode {
    color: rgb(255 166 102);
}

.table__cell--headerDarkMode {
    background-color: rgb(255 166 102);
}