.section__image {
    display: block;
    max-width: 33%;
    margin: 10px 0 0 10px;
    border-radius: 40px 20px;
    float: left;
    margin-top: -2px;
    margin-right: 10px;
}


.section__paragraph {
    margin: 0 10px;
}


.div__linkToSectionFour {
    color: rgb(102, 230, 255);
}