html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(145, 145, 145);
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
    background-color: #eee;
}

p {
    line-height: 1.5;
}

/* header and footer */

.header {
    background-color: #ddd;
    display: flex;
    margin: 0;
}

.headerImage {
    max-width: 64px;
    margin: 0;
}

.h1InHeader {
    flex-grow: 1;
    text-align: center;
    margin: auto;
}

footer {
    background-color: #ddd;
    display: flex;
    margin: 0;
}

.footerImage {
    max-width: 32px;
    margin: 0;
}

.footerParagraph {
    flex-grow: 1;
    text-align: center;
    margin: auto;
}

/* nav */

.nav {
    display: block;
    position: sticky;
    top: 0;
    overflow: hidden;
}


.navigation {
    display: inherit;
    width: 25%;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    background-color: rgb(211, 248, 255);
    color: rgb(0, 0, 0);
}

.navigation:hover {
    background-color: rgb(102, 230, 255);
    padding: 10px 0;
}

/* sections */

.heading {
    margin: 20px 10% 20px;
    padding: 0 0 8px 0;
    text-align: center;
    border-bottom: 2px solid rgb(102, 230, 255);
    box-shadow: 0px 0px 20px 0px black;
}

.firstSection {
    overflow: hidden;
}

.firstSectionPhoto {
    display: block;
    max-width: 33%;
    margin: 10px 0 0 10px;
    border-radius: 40px 20px;
    float: left;
    margin-top: -2px;
    margin-right: 5px;
}

.firstSectionParagraph {
    padding: 0 10px;
    margin-top: 10px;
}

.secoundSectionParagraph {
    margin: 0 10px;
}

.tableBox {
    overflow-x: auto;
}

.tableElement {
    border-collapse: collapse;
    empty-cells: hide;
    max-width: 100%;
    margin: 0 auto;
}

.tableCell {
    border: 2px solid black;
    text-align: center;
}

.tableHeader {
    background-color: red;
    color: white;
    letter-spacing: 0.2em;
    padding: 10px 0;
}

.listBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.listHeader {
    text-align: center;
}

.youcodeSectionParagraph {
    margin: 0 10px;
}

.allButtons {
    text-align: center;
}

.buttonElement {
    width: 80%;
}

.linkToSectionFour {
    color: rgb(102, 230, 255);
}

/* dark mode on */

.darkBody {
    background-color: black;
    color: white;
}

.darkWrapper {
    background-color: #3a3a3a;
}

.darkHeader, .darkFooter {
    background-color: #202020;
}

.darkHeading {
    border-bottom: 2px solid rgb(255 166 102);
}

.darkNav {
    background-color: rgb(255 204 168);
}

.darkNav:hover {
    background-color: rgb(255 166 102);
}

.darkLink {
    color: rgb(255 166 102);
}

/* switchImagePosition On */

.switchPhotoPositionOn {
    display: block;
    max-width: 33%;
    margin: 10px 10px 0 0;
    border-radius: 40px 20px;
    float: right;
    margin-top: -2px;
    margin-left: 5px;
}

.switchPhotoPositionOn_p {
    text-align: right;
}

/* nav sticky positon change */

.navPositionChanged {
    display: block;
    overflow: hidden;
    position: unset;
}